<div class="mdl-grid ">
  
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop ">
    <div class="devise-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Login</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <%= f.label :email,:class=>"mdl-textfield__label" %><br />
            <%= f.email_field :email, autofocus: true ,:class=>"mdl-textfield__input"%>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <%= f.label :password,:class=>"mdl-textfield__label" %><br />
            <%= f.password_field :password, autocomplete: "off" ,:class=>"mdl-textfield__input"%>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
          </div>
        <% end %>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-offset">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
